<ui-table-pro
  [headerActions]="headerActions"
  [enableSelect]="true"
  (selectionChange)="selectedRows = $event"

  title="Lịch sử mua license"
  subtitle="Theo dõi giao dịch mua/ gia hạn license"
  [rows]="rows()"
  [columns]="columns"
  [total]="total()"
  [loading]="loading()"
  [page]="page()"
  [pageSize]="pageSize()"
  [enableSearch]="true"
  [enableColumnPicker]="true"
  [enableStoreFilter]="true"
  [actions]="actions"
  (searchChange)="onSearch($event)"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onSizeChange($event)"
>
</ui-table-pro>

<ui-detail-drawer
  [open]="drawerOpen()"
  [title]="'Chi tiết lịch sử'"
  [row]="currentRow()"
  [fields]="drawerFields"
  [statusOptions]="statusOptions"
  (close)="closeDrawer()"
  (save)="saveDrawer($event)"
></ui-detail-drawer>
