<div class="modal">
    <div class="modal-header">
        <div class="title">{{ data.title }}</div>
        <button class="icon-btn" (click)="close()" type="button">✕</button>
    </div>

    <div class="modal-body">
        <ui-dynamic-form
                [fields]="data.fields"
                [model]="draft()"
                (modelChange)="draft.set($event)"
                (validChange)="valid.set($event)"
        ></ui-dynamic-form>
    </div>

    <div class="modal-footer">
        <button class="btn ghost" (click)="close()">Hủy</button>
        <button class="btn primary" (click)="submit()" [disabled]="!valid()">
            Tạo mới
        </button>
    </div>
</div>
